:root {
  --md-primary-fg-color: #3CD01E;
  --md-primary-fg-color--light: #5DDA42;
  --md-primary-fg-color--dark: #2BA514;
  --md-accent-fg-color: #3CD01E;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #3CD01E;
  --md-primary-fg-color--light: #5DDA42;
  --md-primary-fg-color--dark: #2BA514;
  --md-accent-fg-color: #3CD01E;
}
